.header {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    position: sticky;
    top: 0px;
    .header-banner {
        height: 20%;
        width: 20%;
    }
    .time-spent {
        font-weight: bold;
        margin: 0px 10px;
    }
}