/* You can add global styles to this file, and also import other style files */
body {
    padding: 0px;
    margin: 0px;
    background-color: #F2F6F8;
    color: rgba(0, 0, 0, 0.9);
    font-size: 16px;
}